.footer-container {
    background-color: #ECEAEA;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    min-height: 96px;
}

address {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    font-style: normal;
}

.phone {
    margin-right: 53px;
    margin-top: -1px;
}

.phone:before {
    content: url("../img/phone.svg");
    position: relative;
    top: 2px;
    margin-right: 9px;
}

.address:before {
    content: url("../img/location.svg");
    position: relative;
    top: 2px;
    margin-right: 9px;
}